@tailwind base;

@layer base {
  :root {
    -webkit-font-smoothing: antialiased;
  }

  body {
    @apply text-cloud-900;
  }

  h1 {
    font-size: 52px;
    @apply font-ubuntu;
    @apply font-bold;
  }

  h2 {
    font-size: 40px;
    @apply font-ubuntu;
    @apply font-bold;
  }

  h3 {
    font-size: 26px;
    @apply font-ubuntu;
    @apply font-normal;
    @apply leading-tight;
  }

  h4 {
    font-size: 20px;
    @apply font-roboto;
    @apply font-bold;
  }

  h5 {
    font-size: 16px;
    @apply font-roboto;
    @apply font-bold;
  }

  h6 {
    font-size: 14px;
    @apply font-roboto;
    @apply font-normal;
  }

  p {
    font-size: 16px;
    @apply font-roboto;
    @apply font-normal;
  }

  input[disabled] {
    @apply cursor-not-allowed;
  }

  a {
    @apply transition-colors;
    @apply duration-200;
    @apply ease-out;
    @apply text-cloud-500;
  }

  a:hover {
    @apply text-cerulean;
  }

  svg {
    display: inline; /* must leave default as `inline` else testcafe cannot select somehow */
  }
}

@tailwind components;

@layer components {
  .custom-input {
    @apply w-full p-2 rounded-lg border border-cloud-200;
  }

  /* purgecss start ignore */

  /* DO NOT target react-jsonschema-form styles with .form-custom unless neccessary, go to custom templates directly instead  */
  .form-custom {
    .btn[type="submit"] {
      @apply hidden; /* https://github.com/rjsf-team/react-jsonschema-form/issues/1602 */
    }

    /* :not([type="color"]) is used to exclude custom style for template with custom color input widget e.g cover letter template */
    input:not([type="color"]) {
      @apply custom-input;
    }
  }

  /* purgecss end ignore */
}

@tailwind utilities;

/* https://philipwalton.com/articles/normalizing-cross-browser-flexbox-bugs/ */
#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#root > nav {
  flex-shrink: 0;
}

#root > main {
  flex: 1 0 auto;
}
